<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%></title>
        <link rel="stylesheet" href="styles/styles.css" type="text/css" />
    </head>
    <body>
        <section id="wrapper">
            <div class="container">
                <h1><%=header%></h1>
                <div class="person">
                    <p>
                        Customer's ID: <span class="fw500"><%= result.personId%></span>
                    </p>
                    <p>
                        First Name: <span class="fw500"><%= result.firstname%></span>
                    </p>
                    <p>
                    Surname: <span class="fw500"><%= result.lastname%></span>
                    </p>
                    <p>
                        Address: <span class="fw500"><%= result.address%></span>
                    </p>
                    <p>
                        Favorite ice-cream: <span class="fw500"><%= result.favoriteIceCream%></span>
                    </p>
                </div>
                <a href="/"><button>Menu</button></a>
            </div>
        </section>
    </body>
</html>
