<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="styles/styles.css" type="text/css" />
</head>
<body>
    <section id="wrapper">
        <div class="container">
            <h1 class="<%=errClass%>"><%=header%></h1>
            <p class="<%=errClass%>"><%=status.message%></p>

            <a href="/">
                <button>Menu</button>
            </a>
        </div>
    </section>
</body>
</html>